{% extends 'site/partials/base.html' %}
{% load static %}
{% block title %}
    AMB Ingeniería
{% endblock %}
{% block content %}
    <div class="container">

        <h1>
            Aquí habá una app
        </h1>
        <!-- minuto 1:43 -->
        <p>
            <!-- https://www.youtube.com/watch?v=TjaG7243BF0 -->
            Blue prints:
            https://www.youtube.com/watch?v=_LMiUOYDxzE
            ORM SQL alchemy:
            https://www.youtube.com/watch?v=AKQ3XEDI9Mw
        </p>
        <div>
    
            <img src="https://pub-6a557aad33bd401cbcb161004e61b6d8.r2.dev/png-transparent-logo-php-html-others-text-trademark-logo-thumbnail.png" alt="test img">
        
            Workers configuration:
            https://dash.cloudflare.com/bb445e82f5642fdde6bce94f3eae6dd7/r2/cli?utm_source=promo&utm_medium=email&utm_campaign=pg-r2&utm_term=8890829
            <p>
                Esto servirá para automatizar la carga de imágenes
            </p>
        </div>
    </div>
    <section class="bg-secondary text-light py-5">
        <div class="container text-center">
            <h2>Algún titulo</h2>
            <h3>esto setra un subtitulo</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit voluptas quidem, asperiores iste veniam fugiat atque perspiciatis reiciendis dolor amet similique tempore iusto exercitationem corporis cum illum dolorem sit provident! Asperiores aliquid ab dignissimos?
            </p>
        </div>
    </section>
    
{% endblock %}